body{
    background-color: green;
}
h1{
    text-align: center;
}
h2{
    
    transform: translateY(-100px);
    text-align: center;
    display: flex;
    }
img{
    width: 300px;
    height: 300px;
    transform: translate(800px);
}
.row{
    display: flex;
    column-gap: 20px;
   transform: translateX(750px);
   font-size: x-large;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Button{
    text-align: center;
    transform: translateY(50px);
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}